header {
    width: 100%;
    padding: 20px 5%;
    padding-top: 35px;
    background: #0a1d4f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

header img.logo {
    height: 25px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a.nav-item {
    font-size: 16px;
    line-height: 14px;
    color: #f7f7f8;
    text-decoration: none;
    margin: 0 25px;
}

header a.early-access {
    background: #06c03a;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #f7f7f8;
    text-decoration: none;
    padding: 15px 20px;
    margin-left: 15px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media screen and (max-width: 799px) {
    .nav-menu {
        height: 30%;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: white;
        padding: 7% 0;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 1;
    }

    header a.nav-item {
        font-size: 20px;
        color: black;
    }
    header a.early-access {
        color: #f7f7f8;
    }
    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}